<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>申し込み入力フォーム</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body style="background-color: #fafafa;">
    <div class="content">
    <div class="row justify-content-center">
      <div class="border col-md-6 mt-2 pt-2" style="background-color: #fff;">
        <h1>申し込み入力フォーム</h1>
        <p>入会するには、次のフォームに必要事項をご記入ください。</p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li class="flash">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('register_complete')}}" method="POST" novalidate="novalidate">
          <div class="form-group pt-4">
            <label for="my-email">メールアドレス: </label>
            <input class="form-control" type="email" id="my-email" name="my-email">
          </div>
          <div class="form-group pt-2">
              <label for="my-password">パスワード: </label>
              <input class="form-control" type="password" id="my-password" name="my-password">
          </div>
          <div class="col-6 mt-4 mb-4">
              <button type="submit" class="btn btn-primary pt-2 pb-2 pl-4 pr-4">送信する</button>
          </div>
          <div class="mb-4">
              <a href="https://www.google.com">パスワードをお忘れの方はこちらから</a>
          </div>
        </form>
      </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>





